<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-form">
    
    <div class="info-form">
        <h2>Contact me</h2>
        <p>Text me a message to my email</p>

        <a href="#"><i class="fa fa-phone"></i> 3137301501</a>
        <a href="#"><i class="fa fa-envelope"></i> diegorguez2007@gmail.com</a>
        <a href="#"><i class="fa fa-map-marked"></i> Barranquilla, Colombia</a>
    </div>

    <form action="#" autocomplete="off">
        <a href="index.html" class="btn">⬅ Return back</a>
        <input type="text" name="name" placeholder="Enter your name" class="field">
        <input type="email" name="email" placeholder="Enter your email" class="field">
        <textarea name="message" placeholder="Enter your message"></textarea>
        <input type="submit" value="Send message" class="btn-send">
    </form>

</body>
</html>